---
layout: default
---
<div class="cover-top-area">
    <div class="row nopadding">
        <div class="col-md-12">
            <img class="logo-img" src="../images/logo.png" alt="logo" width="400" height="70" />
        </div>
    </div>
    <div class="newsletter-form">
        <div class="wrapper-form">
            <form class="form-inline" action="//healthrhythms.us10.list-manage.com/subscribe/post?u=0e1140717990e8b5acaddadc8&amp;id=cbcd9f19d4" method="post">
                <!-- <input type='hidden' name='redirect_to' value='http://fooey.com/thank-you.html' /> -->
                <div class="form-group">
                    <label class="sr-only">Email</label>
                    <p class="form-control-static">Sign up with your email and never miss an update.</p>
                </div>
                <div class="form-group">
                    <label for="mce-EMAIL" class="sr-only">Email</label>
                    <input type="email" class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Enter your email">
                </div>
                <button id="mc-embedded-subscribe" name="subscribe" type="submit" class="btn btn-default"><i class="icon-assist-ok"></i></button>
            </form>
        </div>
    </div>
</div>
<div class="section-area fix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="title-black">{{ page.title }}</h2>
                <div class="row">
                    <div class="col-md-12"> {{ content }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cover-footer-area fix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title-white">Our Advisors</h2>
                        <div class="col-md-6 advisor-left-wrapper">
                            <div class="advisor-left">
                                <div class="img-advisor"><img src="../images/advisor-deborah.png" class="img-adv-right" alt="" /></div>
                                <div class="advisor-detail">
                                    <span class="title">Deborah Estrin</span>
                                    <ul>
                                        <li>&bull; Professor of Computer Science at Cornell Tech</li>
                                        <li>&bull; Professor of Public Health at Weill Cornell Medical College</li>
                                        <li>&bull; founder of the Healthier Life Hub</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="advisor-left">
                                <div class="img-advisor"><img src="../images/advisor-carlos.png" class="img-adv-right" alt="" /></div>
                                <div class="advisor-detail">
                                    <span class="title">Carlos Rodarte</span>
                                    <ul>
                                        <li>&bull; Director of Wearables and Biosensors at PatientsLikeMe</li>
                                        <li>&bull; Advisory Board Member for SXSW’s Interactive Health Track and Health Accelerator</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 advisor-right-wrapper">
                            <div class="advisor-right">
                                <div class="img-advisor"><img src="../images/advisor-amir.png" class="img-adv-left" alt="" /></div>
                                <div class="advisor-detail">
                                    <span class="title">Amir Kalali MD</span>
                                    <ul>
                                        <li>&bull; Vice President and Head of the Neuroscience Center of Excellence at Quintiles</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="advisor-right">
                                <div class="img-advisor"><img src="../images/advisor-geri.png" class="img-adv-left" alt="" /></div>
                                <div class="advisor-detail">
                                    <span class="title">Dr. Geri Gay</span>
                                    <ul>
                                        <li>&bull; Kenneth J. Bissett Professor</li>
                                        <li>&bull; Chair of Communication at Cornell University</li>
                                        <li>&bull; director of the Interaction Design Lab at Cornell</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

